.card {
	transform: none;
	transition: transform 500ms, box-shadow 500ms;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	/* cursor: pointer; */
}

.card:hover {
	transform: scale(1.02);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
	z-index: 100;
}

.card-title:hover {
	text-decoration: underline;
	cursor: pointer;
}

.bookmark {
	top: 1rem;
	right: 1rem;
	/* color: red; */
	/* border: red 2px solid; */
	opacity: 0;
	transition: opacity 500ms;
	aspect-ratio: 1;
	width: 3rem;
	height: 3rem;

	backdrop-filter: blur(2px);

	cursor: pointer;
}

.card:hover .bookmark {
	display: block;
	opacity: 1;
}
